NewAsiaOASystem.Web/Web References/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestDataTable">
        <s:complexType />
      </s:element>
      <s:element name="GetTestDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestDataTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDkxbyUIdjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SetFrist" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SetMax" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDkxbyUIdjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDkxbyUIdjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountDkxbyUid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountDkxbyUidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCountDkxbyUidResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsEPDsModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DdId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jjname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kdgs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsEPDsModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsEPDsModelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_bianhao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProductResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestDataTable" />
  </wsdl:message>
  <wsdl:message name="GetTestDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetDkxbyUIdjsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetDkxbyUIdjson" />
  </wsdl:message>
  <wsdl:message name="GetDkxbyUIdjsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetDkxbyUIdjsonResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountDkxbyUidSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountDkxbyUid" />
  </wsdl:message>
  <wsdl:message name="GetCountDkxbyUidSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountDkxbyUidResponse" />
  </wsdl:message>
  <wsdl:message name="InsEPDsModelSoapIn">
    <wsdl:part name="parameters" element="tns:InsEPDsModel" />
  </wsdl:message>
  <wsdl:message name="InsEPDsModelSoapOut">
    <wsdl:part name="parameters" element="tns:InsEPDsModelResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestDataTable">
      <wsdl:input message="tns:GetTestDataTableSoapIn" />
      <wsdl:output message="tns:GetTestDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDkxbyUIdjson">
      <wsdl:input message="tns:GetDkxbyUIdjsonSoapIn" />
      <wsdl:output message="tns:GetDkxbyUIdjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountDkxbyUid">
      <wsdl:input message="tns:GetCountDkxbyUidSoapIn" />
      <wsdl:output message="tns:GetCountDkxbyUidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsEPDsModel">
      <wsdl:input message="tns:InsEPDsModelSoapIn" />
      <wsdl:output message="tns:InsEPDsModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input message="tns:InsertProductSoapIn" />
      <wsdl:output message="tns:InsertProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestDataTable">
      <soap:operation soapAction="http://tempuri.org/GetTestDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDkxbyUIdjson">
      <soap:operation soapAction="http://tempuri.org/GetDkxbyUIdjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountDkxbyUid">
      <soap:operation soapAction="http://tempuri.org/GetCountDkxbyUid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsEPDsModel">
      <soap:operation soapAction="http://tempuri.org/InsEPDsModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestDataTable">
      <soap12:operation soapAction="http://tempuri.org/GetTestDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDkxbyUIdjson">
      <soap12:operation soapAction="http://tempuri.org/GetDkxbyUIdjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountDkxbyUid">
      <soap12:operation soapAction="http://tempuri.org/GetCountDkxbyUid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsEPDsModel">
      <soap12:operation soapAction="http://tempuri.org/InsEPDsModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:43537/WebAPI/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:43537/WebAPI/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>