NewAsiaOASystem.Web/Web References/Newasia/XYOffer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUsrInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsrInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsrInfoResult" type="tns:UsrInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UsrInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UsrID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrueName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:Shop_Offer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Shop_Offer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="num" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="usrID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveOfferResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetNewOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProvinceCity">
        <s:complexType />
      </s:element>
      <s:element name="GetUserProvinceCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProvinceCityResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProvinceCityByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProvinceCityByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProvinceCityByUserIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKuCun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKuCunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKuCunResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bomId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBomResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrderNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WlwCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WlwChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WlwChargeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsrInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsrInfo" />
  </wsdl:message>
  <wsdl:message name="GetUsrInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveOfferSoapIn">
    <wsdl:part name="parameters" element="tns:SaveOffer" />
  </wsdl:message>
  <wsdl:message name="SaveOfferSoapOut">
    <wsdl:part name="parameters" element="tns:SaveOfferResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewOrders" />
  </wsdl:message>
  <wsdl:message name="GetNewOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProvinceCitySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProvinceCity" />
  </wsdl:message>
  <wsdl:message name="GetUserProvinceCitySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProvinceCityResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProvinceCityByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProvinceCityByUserId" />
  </wsdl:message>
  <wsdl:message name="GetUserProvinceCityByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProvinceCityByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetKuCunSoapIn">
    <wsdl:part name="parameters" element="tns:GetKuCun" />
  </wsdl:message>
  <wsdl:message name="GetKuCunSoapOut">
    <wsdl:part name="parameters" element="tns:GetKuCunResponse" />
  </wsdl:message>
  <wsdl:message name="GetBomSoapIn">
    <wsdl:part name="parameters" element="tns:GetBom" />
  </wsdl:message>
  <wsdl:message name="GetBomSoapOut">
    <wsdl:part name="parameters" element="tns:GetBomResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderNumberSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderNumber" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderNumberSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderNumberResponse" />
  </wsdl:message>
  <wsdl:message name="WlwChargeSoapIn">
    <wsdl:part name="parameters" element="tns:WlwCharge" />
  </wsdl:message>
  <wsdl:message name="WlwChargeSoapOut">
    <wsdl:part name="parameters" element="tns:WlwChargeResponse" />
  </wsdl:message>
  <wsdl:portType name="XYOfferSoap">
    <wsdl:operation name="GetUsrInfo">
      <wsdl:input message="tns:GetUsrInfoSoapIn" />
      <wsdl:output message="tns:GetUsrInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOffer">
      <wsdl:input message="tns:SaveOfferSoapIn" />
      <wsdl:output message="tns:SaveOfferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersSoapIn" />
      <wsdl:output message="tns:GetOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <wsdl:input message="tns:GetNewOrdersSoapIn" />
      <wsdl:output message="tns:GetNewOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProvinceCity">
      <wsdl:input message="tns:GetUserProvinceCitySoapIn" />
      <wsdl:output message="tns:GetUserProvinceCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProvinceCityByUserId">
      <wsdl:input message="tns:GetUserProvinceCityByUserIdSoapIn" />
      <wsdl:output message="tns:GetUserProvinceCityByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKuCun">
      <wsdl:input message="tns:GetKuCunSoapIn" />
      <wsdl:output message="tns:GetKuCunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBom">
      <wsdl:input message="tns:GetBomSoapIn" />
      <wsdl:output message="tns:GetBomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderNumber">
      <wsdl:input message="tns:UpdateOrderNumberSoapIn" />
      <wsdl:output message="tns:UpdateOrderNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WlwCharge">
      <wsdl:input message="tns:WlwChargeSoapIn" />
      <wsdl:output message="tns:WlwChargeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XYOfferSoap" type="tns:XYOfferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsrInfo">
      <soap:operation soapAction="http://tempuri.org/GetUsrInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOffer">
      <soap:operation soapAction="http://tempuri.org/SaveOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <soap:operation soapAction="http://tempuri.org/GetNewOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProvinceCity">
      <soap:operation soapAction="http://tempuri.org/GetUserProvinceCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProvinceCityByUserId">
      <soap:operation soapAction="http://tempuri.org/GetUserProvinceCityByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKuCun">
      <soap:operation soapAction="http://tempuri.org/GetKuCun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBom">
      <soap:operation soapAction="http://tempuri.org/GetBom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderNumber">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WlwCharge">
      <soap:operation soapAction="http://tempuri.org/WlwCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XYOfferSoap12" type="tns:XYOfferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsrInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUsrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOffer">
      <soap12:operation soapAction="http://tempuri.org/SaveOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <soap12:operation soapAction="http://tempuri.org/GetNewOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProvinceCity">
      <soap12:operation soapAction="http://tempuri.org/GetUserProvinceCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProvinceCityByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetUserProvinceCityByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKuCun">
      <soap12:operation soapAction="http://tempuri.org/GetKuCun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBom">
      <soap12:operation soapAction="http://tempuri.org/GetBom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderNumber">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WlwCharge">
      <soap12:operation soapAction="http://tempuri.org/WlwCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XYOffer">
    <wsdl:port name="XYOfferSoap" binding="tns:XYOfferSoap">
      <soap:address location="http://www.chinanewasia.com/offer/XYOffer.asmx" />
    </wsdl:port>
    <wsdl:port name="XYOfferSoap12" binding="tns:XYOfferSoap12">
      <soap12:address location="http://www.chinanewasia.com/offer/XYOffer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>